  <nav id="panelnav">
    <ul class="panelmenu">
      <li class="logo">
        <a class="brand" href="/">
          <span>Brand</span>
          <img src="{{ site.baseurl }}/img/logo.png" alt="" />
        </a>
      </li>
      <li><a href="{{ site.baseurl }}/placeholder-post/">Nav Item 1</a></li>
      <li><a href="#">Nav Item 2</a></li>
      <li><a href="#">Nav Item 3</a></li>
      <li><a href="#">Nav Item 4</a></li>
      <li><a href="#">Nav Item 5</a></li>
      <li><a href="#">Nav Item 6</a></li>
      <li><a href="#">Nav Item 7</a></li>
      <li><a href="#">Nav Item 8</a></li>
      <li><a href="#">Nav Item 9</a></li>
    </ul>
  </nav><!-- #panelnav -->