---
 items:
- text: What we do
  url: /en/what-we-do/
- text: Who we are
  url: /en/who-we-are/
- text: Projects
  url: /en/projects/
- text: Blog
  url: /en/blog/
---

   <div id="sticky">
      <div class="navwrap">

        <nav id="navbar">

          <!-- Title / Menu Section -->
          <ul class="title-area">
            <li class="toggle-menu menu-icon"><a href="#"></a></li>

            <li class="logo">
              <a class="brand" href="{% if site.baseurl %}{{ site.baseurl }}{% else %}/{% endif %}">
                <span>{{ site.contstants.name }}</span>
                <img src="{{ site.baseurl }}/img/logo.png" alt="{{ site.contstants.name }}" />
              </a>
            </li>
          </ul>

          <section class="navsection">
            <ul class="left navmenu">
              <li class="submenu">
                <a href="#">Item 1</a>

                <div class="submenu-content">
                  <div class="page-container">
                    <ul class="left">
                    <li>Item 1 Sub Item 1</li>
                    <li>Item 1 Sub Item 2</li>
                    <li>Item 1 Sub Item 3</li>
                    </ul>

                    <ul class="right">
                    <li>Item 1 Sub Item 4</li>
                    <li>Item 1 Sub Item 5</li>
                    <li>Item 1 Sub Item 6</li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="submenu">
                <a href="#">Item 2</a>

                <div class="submenu-content">
                  <div class="page-container">
                    <ul class="left">
                      <li>Item 2 Sub Item 1</li>
                      <li>Item 2 Sub Item 2</li>
                      <li>Item 2 Sub Item 3</li>
                    </ul>

                    <ul class="right">
                      <li>Item 2 Sub Item 4</li>
                      <li>Item 2 Sub Item 5</li>
                      <li>Item 2 Sub Item 6</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="right usermenu">
              <li><a href="/search/">S</a></li>
              <li><a href="#">F</a></li>
              <li><a href="#">T</a></li>
            </ul>
          </section><!-- .navsection -->

        </nav><!-- #navbar -->

      </div> <!-- .navwrap -->
    </div><!-- #sticky -->